aniso8601==8.0.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==7.1.2
Flask==1.1.2
Flask-Cors==4.0.1
flask-marshmallow==0.14.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
gunicorn==20.0.4
idna==3.7
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
marshmallow==3.9.1
numpy==2.0.0
pandas==2.2.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2020.4
redis==5.0.7
requests==2.32.3
six==1.15.0
spotipy==2.24.0
SQLAlchemy==1.3.20
tzdata==2024.1
urllib3==2.2.2
Werkzeug==1.0.1
